/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset"
@import "foundation"
@import "foundation/common/ratios"

$dark-grey: #CCC

body
  background: $dark-grey

.ui-dialog
  background: white
  padding: 2em
  border: 2px solid $dark-grey
  border-radius: 20px

#top-navigation
  ul
    margin: 0

#page
  max-width: 50em
  margin:
    left: auto
    right: auto
  padding: 2em
  background: white
  @media screen and (min-width: 50em)
    margin-top: 3em
    border-radius: 20px
    height: auto
    border: 2px solid #042029

  .current-task
    border: 2px solid #ccc
    padding: 1em
    margin-bottom: 1.5em

  #search
    border: 2x solid #CCC
  #search-results, #recent-tickets
    margin:
      left: auto
      right: auto
    table
      width: 100%

    table
      td.start, td.track
        width: 4em

@media screen and (max-width: 50em)
  #page
    padding: 0
  table td.track
    display: none

form
  div
    margin:
      top: 0.5em
