<li class="available-package-set row">
  <div class="title">
    <h4 class='server-list'>List of servers</h4>
  </div>
  <div class="content">
    <div class="release-details">
       <div class="package-set-collapsible collapsible-title">
        <h5>Package Details</h5>
      </div>
      <ul class="available-packages">
      </ul>
    </div>
    <div class="run-updates">
      <input data-package-string="null" type="submit" class="update-button update medium button right" value="Update" />
      <div class="update-logs">
        <h5 class="update-logs-title collapsible-title">Server Update Logs</h5>
        <div class="server-logs">
          <p>Here be some texts.</p>
        </div>
      </div>
    </div>
  </div>
</li>
