<html>
  <head>
    <meta content='width=device-width, target-densitydpi=160, initial-scale=1.0' name='viewport' />
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" id="javascript-settings"></script>
    <script src="js/minified.js"></script>
    <link rel="stylesheet" href="/screen.css" type="text/css" media="all">
    <title>Updatr</title>
  </head>
  <body>
    <div class="row" id="page">
      <h1>Updatr</h1>
    </div>
    <!-- We include our templates within script tags in the DOM for easy javascript access. -->
    <div id="templates" style="display: none;">
    </div>
  </body>
</html>
