<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" id="javascript-settings"></script>
    <script src="js/minified.js"></script>
    <link rel="stylesheet" href="/screen.css" type="text/css" media="all">
    <title>Updatamator</title>
  </head>
  <body>
    <div class="row" id="page">
      <div class="twelve row">
        <h1>Updatamator</h1>
        <h2>Available Updates</h2>
        <div id="available-updates">
        </div>
      </div>
      <div class="twelve row">
        <h2>Currently Up To Date</h2>
        <div id="currently-up-to-date">
        </div>
      </div>
    </div>
    <!-- We include our templates within script tags in the DOM for easy javascript access. -->
    <div id="templates" style="display: none;">
    </div>
  </body>
</html>
