<li>
  <!-- TODO: I had planned to nest Zurb accordions but that is not supported. Need a new interface paradigm here. -->
  <div class="title-non-zurb">
    <div class="version-container">
      <span class="package-label item-label">Package: </span><span class='package-title'>Name of package</span>
    </div>
    <div class="version-container">
      <span class="version-label item-label">Version: </span><span class="version">0.0.0</span>
    </div>
    <div class="release-notes-container">
      <span class="release-notes-label item-label">Release Notes: </span>
      <div class="release-notes-wrapper">
        <pre class="release-notes-detail">Details about the release</pre>
      </div>
    </div>
  </div>
</li>
