<li>
  <!-- TODO: I had planned to nest Zurb accordions but that is not supported. Need a new interface paradigm here. -->
  <div class="title-non-zurb">
    <h6 class='package-title'>Name of package</h6>
  </div>
  <div class="content-non-zurb">
    <div class="version-container">
      <span class="version-label">Version: </span><span class="version"></span>
    </div>
    <div class="release-notes-container">
      <span class="release-notes-label">Release Notes: </span><span class="release-notes"></span>
    </div>
  </div>
</li>
